.container img {
  padding: 10px 15px;
}

.info {
  padding: 10px;
  height: 40px;
  text-align: center;
  color: rgb(228, 228, 228);
  font-size: 20px;
}
.info h1 {
  color: rgb(157, 157, 157);
  font-size: 32px;
  letter-spacing: 0.05em;
}

button {
  border: none;
}

.prev,
.next {
  cursor: pointer;
  padding: 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  border-radius: 50%;
}
.prev {
  transform: translateY(150px);
}
.next {
  transform: translateY(-150px);
}

.price {
  text-align: center;
  margin-top: -50px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(228, 228, 228);
}
span {
  font-size: 30px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 740px) {
  .prev {
    transform: translateY(80px);
    width: 40px;
  }
  .next {
    transform: translateY(-80px);
    width: 40px;
  }
  .info {
    font-size: 18px;
  }
  .info h1 {
    font-size: 28px;
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 500px) {
  .prev {
    transform: translateY(60px);
    width: 30px;
    background-color: transparent;
  }
  .next {
    transform: translateY(-60px);
    width: 30px;
    background-color: transparent;
  }
  .info {
    height: 70px;
    font-size: 12px;
  }
  .info h1 {
    font-size: 20px;
  }

  .price {
    padding-top: 20px;
  }
  .container img {
    height: 200px;
  }
}
